[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {rumbl,
     [{ecto_repos,['Elixir.Rumbl.Repo']},
      {'Elixir.Rumbl.Endpoint',
          [{render_errors,
               [{view,'Elixir.Rumbl.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Rumbl.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {root,<<".">>},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {version,<<"0.0.1">>},
           {secret_key_base,
               <<"GXE72BVDFIsaWemkpC2N6ti+bND5XvEV06sxKJ1N8RCZq4l9+jdmbR3uTIriG3Nw">>}]},
      {'Elixir.Rumbl.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"rumbl_prod">>},
           {pool_size,20}]}]}].
